
[access]
	inheritFrom = Platform-Unrestricted-Projects
[project]
	description = Bug: 303584371

[submit-requirement "Third-Party-Review"]
	description = http://go/android3p
	applicableIf = branch:refs/heads/main AND file:\"^pseudo_crate/crate-list.txt\"
	submittableIf = label:Third-Party-Review=MAX -label:Third-Party-Review=MIN
	overrideIf = is:android_exemptedusers OR is:android-self-plus-two_exemptedusers OR (branch:\"^refs/heads/cherrypick-temp-.*\" AND is:android-cherry-pick_exemptedusers) OR label:Build-Cop-Override=+1 OR (ownerin:mdb/android-triage-xwf-extended-access-team-policy AND is:pure-revert)
        canOverrideInChildProjects = true
[submit-requirement "Security-Review"]
	description = http://go/android3p
	applicableIf = branch:refs/heads/main AND file:\"^pseudo_crate/crate-list.txt\"
	submittableIf = label:Security-Review=MAX -label:Security-Review=MIN
	overrideIf = is:android_exemptedusers OR is:android-self-plus-two_exemptedusers OR (branch:\"^refs/heads/cherrypick-temp-.*\" AND is:android-cherry-pick_exemptedusers) OR label:Build-Cop-Override=+1 OR (ownerin:mdb/android-triage-xwf-extended-access-team-policy AND is:pure-revert)
	canOverrideInChildProjects = true
[submit-requirement "Android-Architectural-Review"]
	description = http://go/android3p
	applicableIf = branch:refs/heads/main AND file:\"^pseudo_crate/crate-list.txt\"
	submittableIf = label:Android-Architectural-Review=MAX -label:Android-Architectural-Review=MIN
	overrideIf = is:android_exemptedusers OR is:android-self-plus-two_exemptedusers OR (branch:\"^refs/heads/cherrypick-temp-.*\" AND is:android-cherry-pick_exemptedusers) OR label:Build-Cop-Override=+1 OR (ownerin:mdb/android-triage-xwf-extended-access-team-policy AND is:pure-revert)
	canOverrideInChildProjects = true

